<nav>
  <div class="container">
    <div class="wrapper">
      <%= link_to 'BLOGWAVE', root_path %>

      <div class="profile">
        <% if user_signed_in? %>
          <span><%= current_user.name %></span>
          <span>|</span>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
          <span>|</span>
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</nav>